length: "Minimal length of password has to be "
numeric: "Password has to contain at least one number"
capital: "Password has to contain at least one capital letter"
special: "Password has to contain at least one special character"
common: "Password is just too common and is easy to crack. Try another "